<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="manifest.json" />
    <title>First PWA</title>
    <link rel="stylesheet" href="scss/style.css" />
    <!-- ios support -->
    <link rel="apple-touch-icon" href="images/icons/icon72x72.png" />
    <link rel="apple-touch-icon" href="images/icons/icon128x128.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#db4938" />
    <meta name="theme-color" content="#db4938" />
  </head>
  <body>
    <h1>This is My First PWA</h1>
    <div class="box"></div>
    <script src="js/index.js"></script>
  </body>
</html>
